.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__mrRj9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nWexi {
  display: flex;
  flex-direction: column;
}
.freeBox__nWexi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nWexi > :global(.__wab_flex-container) > *,
.freeBox__nWexi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nWexi > :global(.__wab_flex-container) > picture > img,
.freeBox__nWexi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text___2Kfan {
  font-size: 48px;
}
.freeBox__dt7Ho {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__dt7Ho > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dt7Ho > :global(.__wab_flex-container) > *,
.freeBox__dt7Ho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dt7Ho > :global(.__wab_flex-container) > picture > img,
.freeBox__dt7Ho
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___1Df95:global(.__wab_instance) {
  position: relative;
}
.bullet__mgUql:global(.__wab_instance) {
  position: relative;
}
.bullet__z6Yd:global(.__wab_instance) {
  position: relative;
}
.freeBox__uFgk4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__kSlH7:global(.__wab_instance) {
  position: relative;
}
.svg__kVztn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yzKb9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__u5Via {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
