.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__oKtsF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oKtsF {
    width: 100%;
  }
}
.plan___72LXe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__egIep {
  font-size: 48px;
}
.freeBox__dPVay {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__dPVay > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dPVay > :global(.__wab_flex-container) > *,
.freeBox__dPVay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dPVay > :global(.__wab_flex-container) > picture > img,
.freeBox__dPVay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__crgBe:global(.__wab_instance) {
  position: relative;
}
.bullet__nLsAm:global(.__wab_instance) {
  position: relative;
}
.bullet__fNVwI:global(.__wab_instance) {
  position: relative;
}
.button__mhueK:global(.__wab_instance) {
  position: relative;
}
.svg__gdThZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ylwHq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__nayn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nayn {
    width: 100%;
  }
}
.plan__xu5SR:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___8J9VB {
  font-size: 48px;
}
.freeBox__ej6Pd {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__ej6Pd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ej6Pd > :global(.__wab_flex-container) > *,
.freeBox__ej6Pd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ej6Pd > :global(.__wab_flex-container) > picture > img,
.freeBox__ej6Pd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__dbYeq:global(.__wab_instance) {
  position: relative;
}
.bullet__n89At:global(.__wab_instance) {
  position: relative;
}
.bullet__hh6Vj:global(.__wab_instance) {
  position: relative;
}
.bullet__eYbF9:global(.__wab_instance) {
  position: relative;
}
.button__oMKhe:global(.__wab_instance) {
  position: relative;
}
.svg__sQump {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__biexy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__oTuLf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oTuLf {
    width: 100%;
  }
}
.plan___1912B:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__dsY97 {
  font-size: 48px;
}
.freeBox__ehy5Y {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__ehy5Y > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ehy5Y > :global(.__wab_flex-container) > *,
.freeBox__ehy5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehy5Y > :global(.__wab_flex-container) > picture > img,
.freeBox__ehy5Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__tl6YF:global(.__wab_instance) {
  position: relative;
}
.bullet__cCgYi:global(.__wab_instance) {
  position: relative;
}
.bullet__aiMg7:global(.__wab_instance) {
  position: relative;
}
.button__qnAv:global(.__wab_instance) {
  position: relative;
}
.svg__hEiTf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rnJx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__sv77X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sv77X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__sv77X > :global(.__wab_flex-container) > *,
.freeBox__sv77X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sv77X > :global(.__wab_flex-container) > picture > img,
.freeBox__sv77X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__lSmLx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__gh89M:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
