.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__swOfM {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: 2Qb-hkRz0Ayx */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__swOfM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__swOfM > :global(.__wab_flex-container) > *,
.freeBox__swOfM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__swOfM > :global(.__wab_flex-container) > picture > img,
.freeBox__swOfM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__mA1Ei {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__mA1Ei > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__mA1Ei > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__mA1Ei > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__mA1Ei > :global(.__wab_flex-container) > *,
.columns__mA1Ei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mA1Ei > :global(.__wab_flex-container) > picture > img,
.columns__mA1Ei
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mA1Ei {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mA1Ei > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mA1Ei > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mA1Ei > :global(.__wab_flex-container) > *,
  .columns__mA1Ei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mA1Ei > :global(.__wab_flex-container) > picture > img,
  .columns__mA1Ei
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__sFiyv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sFiyv {
    width: 100%;
  }
}
.freeBox__si9MT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__si9MT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__si9MT > :global(.__wab_flex-container) > *,
.freeBox__si9MT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__si9MT > :global(.__wab_flex-container) > picture > img,
.freeBox__si9MT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__si9MT {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__si9MT > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__bxmnp {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__nkAbz {
  position: relative;
  text-align: left;
}
.bullet__zSi6Q:global(.__wab_instance) {
  position: relative;
}
.bullet__v3Cej:global(.__wab_instance) {
  position: relative;
}
.bullet__lCYgM:global(.__wab_instance) {
  position: relative;
}
.text___7OkIu {
  position: relative;
  text-align: left;
}
.freeBox__rgrs {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__rgrs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rgrs > :global(.__wab_flex-container) > *,
.freeBox__rgrs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rgrs > :global(.__wab_flex-container) > picture > img,
.freeBox__rgrs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rgrs {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rgrs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rgrs > :global(.__wab_flex-container) > *,
  .freeBox__rgrs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rgrs > :global(.__wab_flex-container) > picture > img,
  .freeBox__rgrs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__xBUs:global(.__wab_instance) {
  position: relative;
}
.svg__kw4OB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__w2Lf1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oi1Vg:global(.__wab_instance) {
  position: relative;
}
.svg___9ZTgP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3Omd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__kgTVy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kgTVy {
    width: 100%;
  }
}
.img__sfKWe {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__sfKWe > picture > img {
  object-fit: cover;
}
.img__sfKWe > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___2PbYa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___2PbYa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___2PbYa > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___2PbYa > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___2PbYa > :global(.__wab_flex-container) > *,
.columns___2PbYa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___2PbYa > :global(.__wab_flex-container) > picture > img,
.columns___2PbYa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2PbYa {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2PbYa > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2PbYa > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2PbYa > :global(.__wab_flex-container) > *,
  .columns___2PbYa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___2PbYa > :global(.__wab_flex-container) > picture > img,
  .columns___2PbYa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__d7It8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__d7It8 {
    width: 100%;
  }
}
.img__jnxJr {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__jnxJr > picture > img {
  object-fit: cover;
}
.img__jnxJr > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ljkAo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ljkAo {
    width: 100%;
  }
}
.freeBox__lLBeo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lLBeo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lLBeo > :global(.__wab_flex-container) > *,
.freeBox__lLBeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lLBeo > :global(.__wab_flex-container) > picture > img,
.freeBox__lLBeo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLBeo {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLBeo > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__jVpTj {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__gzQwj {
  position: relative;
  text-align: left;
}
.bullet__nLnsG:global(.__wab_instance) {
  position: relative;
}
.bullet__unC0S:global(.__wab_instance) {
  position: relative;
}
.bullet__brMZi:global(.__wab_instance) {
  position: relative;
}
.text__s0G77 {
  position: relative;
  text-align: left;
}
.freeBox__mufbr {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__mufbr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__mufbr > :global(.__wab_flex-container) > *,
.freeBox__mufbr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mufbr > :global(.__wab_flex-container) > picture > img,
.freeBox__mufbr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mufbr {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mufbr > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mufbr > :global(.__wab_flex-container) > *,
  .freeBox__mufbr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mufbr > :global(.__wab_flex-container) > picture > img,
  .freeBox__mufbr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___68OsF:global(.__wab_instance) {
  position: relative;
}
.svg__ueJNh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wbcko {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vI4R:global(.__wab_instance) {
  position: relative;
}
.svg___2FoUh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ac1BU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
