.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__eYeV1 {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: 2Qb-hkRz0Ayx */;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__eYeV1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eYeV1 > :global(.__wab_flex-container) > *,
.freeBox__eYeV1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eYeV1 > :global(.__wab_flex-container) > picture > img,
.freeBox__eYeV1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYeV1 {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: 2Qb-hkRz0Ayx */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYeV1 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYeV1 > :global(.__wab_flex-container) > *,
  .freeBox__eYeV1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eYeV1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__eYeV1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___73SKg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox___73SKg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___73SKg > :global(.__wab_flex-container) > *,
.freeBox___73SKg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___73SKg > :global(.__wab_flex-container) > picture > img,
.freeBox___73SKg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___73SKg {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___73SKg > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___73SKg > :global(.__wab_flex-container) > *,
  .freeBox___73SKg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___73SKg > :global(.__wab_flex-container) > picture > img,
  .freeBox___73SKg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___9XDol {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__bbTGp {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bbTGp {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text__x7SQ {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  padding-bottom: 0px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x7SQ {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    padding-bottom: 0px;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__ykase {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ykase {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
    padding-bottom: 0px;
  }
}
.freeBox___9Gk8K {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox___9Gk8K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___9Gk8K > :global(.__wab_flex-container) > *,
.freeBox___9Gk8K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Gk8K > :global(.__wab_flex-container) > picture > img,
.freeBox___9Gk8K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__uRfLk:global(.__wab_instance) {
  position: relative;
}
.svg__ufpLc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__loPVo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__hvqdD:global(.__wab_instance) {
  position: relative;
}
.svg__ppMOg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__d6OKv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__biwwV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__aZaj {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__aZaj > picture > img {
  object-fit: cover;
}
.img__aZaj > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
  display: none;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__r65K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__r65K {
    width: 100%;
  }
}
.freeBox__g27Tc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__g27Tc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__g27Tc > :global(.__wab_flex-container) > *,
.freeBox__g27Tc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g27Tc > :global(.__wab_flex-container) > picture > img,
.freeBox__g27Tc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g27Tc {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g27Tc > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__rAzl0 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__ap9M {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__pQrp7:global(.__wab_instance) {
  position: relative;
}
.svg__tTgHg {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__hjUxD {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__liSNk:global(.__wab_instance) {
  position: relative;
}
.svg__cddIr {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__eAqB {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__q7OAr:global(.__wab_instance) {
  position: relative;
}
.svg___2NJyF {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__u99Qm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column___4SpDc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4SpDc {
    width: 100%;
  }
}
.img__d9YwZ {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__d9YwZ > picture > img {
  object-fit: cover;
}
.img__d9YwZ > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__rdlO0 {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__rdlO0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__rdlO0 > :global(.__wab_flex-container) > *,
.freeBox__rdlO0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdlO0 > :global(.__wab_flex-container) > picture > img,
.freeBox__rdlO0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__f8PkO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__re8LN {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pDSyz7KDStwg */;
}
.svg__rboKy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__vrCk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ddayH {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pDSyz7KDStwg */;
}
.svg__yxps3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__cxD7C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tPioa {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pDSyz7KDStwg */;
}
.svg__roLOd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lBiVl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hge6Z {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pDSyz7KDStwg */;
}
.svg___11439 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__x9M54:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3TjFb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pDSyz7KDStwg */;
}
.svg__lfGk9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ivbHg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hUrg6 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pDSyz7KDStwg */;
}
.svg__sgVzf {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 6faT7zxEBOAF */;
}
.validation:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox___3NdL5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3NdL5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___3NdL5 > :global(.__wab_flex-container) > *,
.freeBox___3NdL5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3NdL5 > :global(.__wab_flex-container) > picture > img,
.freeBox___3NdL5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__m4Ft1 {
  display: flex;
  flex-direction: row;
}
.freeBox__m4Ft1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__m4Ft1 > :global(.__wab_flex-container) > *,
.freeBox__m4Ft1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m4Ft1 > :global(.__wab_flex-container) > picture > img,
.freeBox__m4Ft1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__yfy99 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__z5Mbk {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__eUoz7 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___0LnKq {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__nrQpq {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.footer:global(.__wab_instance) {
  position: relative;
  display: none;
}
